#contact {
  padding: 60px 20px;
  background: #020617;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}
